<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nemlevering | Forgot Password</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">
        <!-- Toastr style -->
        <link href="js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
        <!-- Gritter -->
        <link href="css/animate.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body id="language" style="background-color:#28282e" class=" pace-done">
        <div class="pace  pace-inactive">
            <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
                <div class="pace-progress-inner"></div>
            </div>
            <div class="pace-activity"></div>
        </div>
        <div id="wrapper">
            <div style="background-color:#28282e" class="row wrapper white-bg page-heading">
                <div class="col-sm-2"></div>
                <div style="margin-top:5px;" class="col-lg-8">
                    <h4></h4>
                </div>
            </div>
        </div>
        <h1 class="logo-name">
            <a href="http://Nemlevering.com">
            <img src="img/main_logo.png">
            </a>
        </h1>
        <div class="middle-box text-center loginscreen animated fadeInDown">
            <p id="msg" class="font-bold  alert alert-danger m-b-sm">Error: {{message}} </p>
            <form role="form" action="/forgot-password" method="POST" class="m-t">
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" required="" style="border-radius:40px; -moz-border-radius: 40px; -webkit-border-radius: 40px;background-color:#28282e" data-i18n="[placeholder]username" class="form-control">
                </div>
                <button type="submit" style="border-radius:40px; -moz-border-radius: 40px; -webkit-border-radius: 40px;background-color:red" data-i18n="login" class="btn btn-danger block full-width m-b">Recover Password</button>
                <div class="form-group"></div>
            </form>
            <p class="text-muted text-center">
                <small data-i18n="noaccount">Or go back to </small>
                <a href="/login" data-i18n="buyer">Login </a>
                <!-- <span class="text"> 
                Or </span>
                <a href="/signup/carrier" data-i18n="transCarrier"> transportation carrier </a> -->
                <!-- <h3>{{name}}, please go to this url to reset password {{url}}</h3> -->
            </p>
        </div>
        <!-- Mainly scripts-->
        <!-- Mainly scripts-->
        <script src="js/jquery-2.1.1.js"></script>>
        <!-- iCheck-->
        <script src="js/plugins/iCheck/icheck.min.js"></script>
        <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <!-- Flot-->
        <script src="js/plugins/flot/jquery.flot.js"></script>
        <script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
        <script src="js/plugins/flot/jquery.flot.spline.js"></script>
        <script src="js/plugins/flot/jquery.flot.resize.js"></script>
        <script src="js/plugins/flot/jquery.flot.pie.js"></script>
        <!-- Peity-->
        <!-- Custom and plugin javascript-->
        <script src="js/inspinia.js"></script>
        <script src="js/plugins/pace/pace.min.js"></script>
        <!-- jQuery UI-->
        <script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>
        <!-- GITTER-->
        <script src="js/plugins/gritter/jquery.gritter.min.js"></script>
        <!-- Sparkline-->
        <!-- ChartJS-->
        <script src="js/plugins/chartJs/Chart.min.js"></script>
        <!-- Toastr-->
        <script src="js/plugins/toastr/toastr.min.js"></script>
        <!-- FooTable-->
        <script src="js/plugins/footable/footable.all.min.js"></script>
    </body>
</html>