<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard | Log-In</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!-- Toastr style -->
    <link href="js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <!-- Gritter -->
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body style="background-color:#28282e" class="language pace-done">
<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99"
         style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<div id="wrapper">
    <div style="background-color:#28282e" class="row wrapper white-bg page-heading">
        <div class="col-sm-2"></div>
        <div style="margin-top:5px;" class="col-lg-8">
            <h4></h4>
            <select id="lng-select" class="select btn-success btn-outline pull-right">
                <option value="en">English</option>
                <option value="da" selected>Danish</option>
            </select>
        </div>
    </div>
</div>
<h1 class="logo-name">
    <a href="http://Nemlevering.com">
        <img src="img/main_logo.png">
    </a>
</h1>
<div class="middle-box text-center loginscreen animated fadeInDown">
    <p style="visibility:hidden" id="msg" class="font-bold  alert alert-danger m-b-sm">Sign In Failed : </p>
    {{!--             <a href="/auth/facebook">
                <button type="submit" style="border-radius:40px;-moz-border-radius: 40px; -webkit-border-radius: 40px;margin-top:5%" data-i18n="fb" class="btn btn-success block full-width m-b">Connect with Facebook</button>
                </a> --}}
    {{!--             <div>
                    <label data-i18n="divider">Or use Email</label>
                </div> --}}
{{#if failed}}
    <div>
        <p id="msg" ></p>
        <p class="font-bold alert alert-danger m-b-sm" data-i18n="failed">{{failed}}</p>
    </div>
{{/if}}
{{#if changed}}
    <div>
        <label data-i18n="changed_password">{{changed}}</label>
    </div>
{{/if}}
{{#if register}}
    <div>
        <label data-i18n="register_success">{{register}}</label>
    </div>
{{/if}}
    <div>
        <label data-i18n="connect">Connect using Email</label>
    </div>
    <form role="form" action="/login" method="POST" class="m-t">
        <div class="form-group">
            <input type="email" name="email" placeholder="Email" required=""
                   style="border-radius:40px; -moz-border-radius: 40px; -webkit-border-radius: 40px;background-color:#28282e"
                   data-i18n="[placeholder]username" class="form-control">
        </div>
        <div class="form-group">
            <input type="password" name="password" placeholder="Password" required=""
                   style="border-radius:40px; -moz-border-radius: 40px; -webkit-border-radius: 40px;background-color:#28282e"
                   data-i18n="[placeholder]password" class="form-control">
        </div>
        <button type="submit"
                style="border-radius:40px; -moz-border-radius: 40px; -webkit-border-radius: 40px;background-color:red"
                data-i18n="login" class="btn btn-danger block full-width m-b">Login
        </button>
        <div class="form-group"></div>
        <div class="checkbox checkbox-danger checkbox-circle">
            <input id="checkbox8" type="checkbox" checked="">
            <label for="checkbox8" style="margin-right:8%" data-i18n="remember">Remember Me?</label>
            <a href="/forgot-password">
                <small data-i18n="forgot">Forgot password?</small>
            </a>
        </div>
    </form>
    <p class="text-muted text-center">
        <small data-i18n="noaccount">Do not have an account?</small>
        <br><a href="/register" data-i18n="signup">Sign Up</a></p>
    <!-- <p class="text-muted text-center">
        <small data-i18n="noaccount">Do not have an account? Sign Up As </small>
        <a href="/register" data-i18n="buyer">Buyer </a>
        <span class="text">
        Or </span>
        <a href="/signup/carrier" data-i18n="transCarrier"> transportation carrier </a>
    </p> -->
</div>
<!-- Mainly scripts-->
<!-- Mainly scripts-->
<script src="js/jquery-2.1.1.js"></script>
<!-- iCheck-->
<script src="js/plugins/iCheck/icheck.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- Flot-->
<script src="js/plugins/flot/jquery.flot.js"></script>
<script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="js/plugins/flot/jquery.flot.spline.js"></script>
<script src="js/plugins/flot/jquery.flot.resize.js"></script>
<script src="js/plugins/flot/jquery.flot.pie.js"></script>
<!-- Peity-->
<!-- Custom and plugin javascript-->
<!--<script src="js/inspinia.js"></script>-->
<script src="js/plugins/pace/pace.min.js"></script>
<!-- jQuery UI-->
<script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- GITTER-->
<script src="js/plugins/gritter/jquery.gritter.min.js"></script>
<!-- Sparkline-->
<!-- ChartJS-->
<script src="js/plugins/chartJs/Chart.min.js"></script>
<!-- Toastr-->
<script src="js/plugins/toastr/toastr.min.js"></script>
<!-- FooTable-->
<script src="js/plugins/footable/footable.all.min.js"></script>


<script src="js/plugins/i18n/jquery.i18n.js"></script>
<script src="js/plugins/i18n/jquery.i18n.messagestore.js"></script>
<script src="js/plugins/i18n/jquery.i18n.fallbacks.js"></script>
<script src="js/plugins/i18n/jquery.i18n.parser.js"></script>
<script src="js/plugins/i18n/jquery.i18n.emitter.js"></script>
<script src="js/plugins/i18n/jquery.i18n.language.js"></script>
<script src="js/plugins/i18n/init.js"></script>

</body>
</html>