<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{'integrations.integrations' | translate}}</h2>
            <ol class="breadcrumb">
                <li><a href="/">{{'integrations.dashboard' | translate}}</a></li>
                <li><a ui-sref="">{{'integrations.business_settings' | translate}}</a></li>
                <li class="active"><strong>{{'integrations.integrations' | translate}}</strong></li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div class="ibox-content">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action">
                    <div class="media">
                        <div class="media-left media-middle pull-left">
                            <a href="http://developer.nemlevering.dk/">
                                <img style="width:100px; height:100px" class="media-object" src="img/main_logo_no_text.png">
                            </a>
                        </div>
                        <div style="margin-left: 130px" class="media-body">
                            <a href="http://developer.nemlevering.dk/">
                                <h4 class="media-heading">{{'integrations.api' | translate}}</h4>
                            </a>
                            <p>{{'integrations.api_doc' | translate}}</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item list-group-item-action">
                    <div class="media">
                        <div class="media-left media-middle pull-left">
                            <a href="http://www.consignor.com/">
                                <img style="width:100px; height:100px" class="media-object" src="img/consignor.png">
                            </a>
                        </div>
                        <div style="margin-left: 130px" class="media-body">
                            <a href="http://www.consignor.com/">
                                <h4 class="media-heading">{{'integrations.consignor' | translate}}</h4>
                            </a>
                            <p>{{'integrations.consignor_connects' | translate}}</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item list-group-item-action">
                    <div class="media">
                        <div class="media-left media-middle pull-left">
                            <a href="https://webshipper.com/">
                                <img style="width:100px; height:100px" class="media-object" src="img/webshipper.png">
                            </a>
                        </div>
                        <div style="margin-left: 130px" class="media-body">
                            <a href="https://webshipper.com/">
                                <h4 class="media-heading">{{'integrations.webshipper' | translate}}</h4>
                            </a>
                            <p>{{'integrations.flows' | translate}}</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item list-group-item-action">
                    <div class="media">
                        <div class="media-left media-middle pull-left">
                            <a href="mailto:support@nemlevering.dk">
                                <img style="width:100px; height:100px" class="media-object" src="img/pakkelabels.png">
                            </a>
                        </div>
                        <div style="margin-left: 130px" class="media-body">
                            <a href="mailto:support@nemlevering.dk">
                                <h4 class="media-heading">{{'integrations.pakkeLabels' | translate}}</h4>
                            </a>
                            <p>{{'integrations.solution' | translate}}</p>
                        </div>
                    </div>
                </li>
                <li class="list-group-item list-group-item-action">
                    <div class="media">
                        <div class="media-left media-middle pull-left">
                            <a href="mailto:support@nemlevering.dk">
                                <img style="width:100px; height:100px" class="media-object" src="img/integrations.png">
                            </a>
                        </div>
                        <div style="margin-left: 130px" class="media-body">
                            <a href="mailto:support@nemlevering.dk">
                                <h4 class="media-heading">{{'integrations.ecommerce' | translate}}</h4>
                            </a>
                            <p>{{'integrations.variant' | translate}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>