<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 data-i18n="sidebar.schDel">{{'notification_settings.notifications' | translate}}</h2>
        <ol class="breadcrumb">
            <li><a href="/" data-i18n="body.Dashboard">{{'notification_settings.dashboard' | translate}}</a></li>
            <li><a ui-sref="" data-i18n="sidebar.clientSettings">{{'notification_settings.settings' | translate}}</a></li>
            <li class="active"><strong data-i18n="sidebar.notifications">{{'notification_settings.changepassword' | translate}}</strong></li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="ibox-content" style="padding-bottom: 50px">
        <div class="middle-box text-center loginscreen animated fadeInDown" style="margin-top:20px">
            <form role="form" action="/change-password" method="POST" class="m-t">
                <div class="form-group">
                    <input type="password" name="newPassword" placeholder="New Password" required="" style="border-radius:2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;"  data-i18n="[placeholder]username" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="verifyPassword" placeholder="Confirm Password" required="" style="border-radius:2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;" data-i18n="[placeholder]password" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" style="padding:12px 0px; width:100%; font-weight:bold;" class="btn btn-info" data-i18n="login" class="btn btn-danger block full-width m-b">Change Password</button>    
                </div>
                <input type="hidden" name="token" id="token">
                <!-- <button type="submit" style="padding:12px 0px; width:77%; font-weight:bold;" class="btn btn-primary" data-i18n="login" class="btn btn-danger block full-width m-b">Create new password</button>
                <div class="form-group"></div> -->
            </form>
            <!-- <p class="text-muted text-center">
                <small data-i18n="noaccount">Or go back to </small>
                <a href="/login" data-i18n="buyer">Login </a>
            </p> -->
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById('token').value = window.location.href.split('token=')[1];
    </script>
</div>